/* Index */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
    color: black;  
}

h1 {
    color:blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.ajoutez {
    padding: 10px;
    margin-right: 70%;
}

table {
    border-collapse: collapse; 
    text-align: center;
}
  
th, td {
    padding: 10px; 
    border: solid 3px gray;
}

thead {
    color: red;
    font-weight: 500;
}
   
tr {
    margin-bottom: 10px;   
}

button {  
    font-family: poppins, bold, sans-serif;
    background-color: white;
    color: black;
    border: none;
    padding: 1em 2em;
    border-radius: 15px; 
    width: fit-content;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

button:hover {
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

a {
    margin: 10%;
}

/* User */

#section-user { 
    color: black;
}

#section-user h1{
    text-align: center;
}

.retour {
    margin-left: 30%;
}

.modifier {
    margin-right: 98%;
}

.supprimer {
    margin-right: 98%;
}

/* Nav Index */

.navigation {
    display: flex;
    gap: 650px;
    text-align: center;
    background-color: aliceblue;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    /* text-decoration: underline; */
    cursor: pointer; 
     opacity: 0.9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 100px;
    background-color:gray;
    position: sticky;
    top: 0;
    border:  solid 3px reds;
}

/* Register */

#section-register h1 {
    color: blue;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#section-register form {
    text-align: center;
    font-size: 20px;
}

.lien a {
    margin-left: 80%;
}

/* Login */

#section-login h1 {
    color: blue;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#section-login form {
    text-align: center;
    font-size: 20px;
}

.lien-login a {
    margin-left: 80%;
}

/* Profil */

#section-profil h1{
    text-align: center;
    color: black;
    font-size: 40px;
}

#section-profil p {
    font-size: 20px;
    text-align: center;
}

.retour-2 {
    margin-left: 80%;
}