/* Index */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
    color: black;  
}

h1 {
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.ajoutez {
    padding: 10px;
    margin-right: 70%;
}

table {
    border-collapse: collapse; 
    text-align: center;
}
  
th, td {
    padding: 10px; 
    border: solid 2px black;
}

thead {
    color: brown;
    font-weight: 700;
}
   
tr {
    margin-bottom: 10px;   
}

button {  
    font-family: poppins, bold, sans-serif;
    background-color: white;
    color: black;
    border: none;
    padding: 1em 2em;
    border-radius: 15px; 
    width: fit-content;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

button:hover {
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

a {
    margin: 10%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table th, table td {
    padding: 10px;
    border: 1px solid black;
}
table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
table tbody tr:hover {
    background-color: #e9e9e9;
}

.ajoutez {
    text-align: right;
    margin-top: 20px;
}
.ajoutez button {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.ajoutez button:hover {
    background-color: gray;
}

/* User */

#section-user { 
    color: black;
}

#section-user h1{
    text-align: center;
}

.retour {
    margin-left: 30%;
}

.modifier {
    margin-right: 98%;
}

.supprimer {
    margin-right: 98%;
}

/* Nav Index */

.navigation {
    display: flex;
    gap: 640px;
    text-align: center;
    background-color: aliceblue;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    /* text-decoration: underline; */
    cursor: pointer; 
     opacity: 0.9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 100px;
    background-color:gray;
    position: sticky;
    top: 0;
    border:  solid 3px reds;
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: wheat;
    overflow: hidden;
}
.navigation li {
    float: left;
}
.navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigation li a:hover {
    background-color: white;
}

/* Register */

#section-register h1 {
    color: blue;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#section-register form {
    text-align: center;
    font-size: 20px;
}

.lien a {
    margin-left: 80%;
}

#section-register body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container-register {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

#section-register {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    
}

#section-register h1 {
    text-align: center;
    font-size: x-large;
    margin-bottom: 20px;
    color: #333;
}

#section-register form {
    display: flex;
    flex-direction: column;
}

#section-register label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

#section-register input[type="email"],
#section-register input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
}

#section-register button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 30%;
    justify-content: center;
}

#section-register button:hover {
    background-color: #0056b3;
}

.lien-login {
    text-align: center;
    margin-top: 20px;
}

.lien-login a {
    color: #007bff;
    text-decoration: none;
}

.lien-login a:hover {
    text-decoration: underline;
}

/* Login */

#section-login h1 {
    color: blue;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#section-login form {
    text-align: center;
    font-size: 20px;
}

.lien-login a {
    margin-left: 80%;
}

#section-login body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container-login {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

#section-login {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#section-login h1 {
    text-align: center;
    font-size: x-large;
    margin-bottom: 30px;
    color: #333;
}

#section-login form {
    display: flex;
    flex-direction: column;
}

#section-login label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

#section-login input[type="email"],
#section-login input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
}

#section-login button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 30%;
    justify-content: center;
}

#section-login button:hover {
    background-color: #0056b3;
}

.lien-login {
    text-align: center;
    margin-top: 20px;
}

.lien-login a {
    color: #007bff;
    text-decoration: none;
}

.lien-login a:hover {
    text-decoration: underline;
}

/* Profil */

#section-profil h1{
    text-align: center;
    color: black;
    font-size: 40px;
}

#section-profil p {
    font-size: 20px;
    text-align: center;
}

.retour-2 {
    margin-left: 80%;
}
